# Supabase Configuration
# Obtain your project URL and public anon key from your Supabase Project Dashboard -> Project Settings -> API
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
